.container-signup {
  margin: 5% 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.signup-form-container {
  background-image: url("https://images.unsplash.com/photo-1667029838463-a46ff77f5912?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1332&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-top: 100px; /* Adjust the padding as needed */
}

.form-title {
  font-size: 28px;
  font-weight: bold;
  color: #1877f2;
  margin-bottom: 20px;
}

.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 50px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  width: 500px;
  margin-bottom: 30px;
}

.form-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.label {
  font-size: 14px;
  font-weight: 600;
  color: #1877f2;
  margin-bottom: 10px;
}

.input {
  width: 100%;
  border-radius: 5px;
  border: none;
  padding: 10px;
  font-size: 16px;
  background-color: #f0f2f5;
  margin-top: 5px;
}

.error-message {
  color: red;
  margin-top: 10px;
}

input:focus {
  outline: none;
  box-shadow: 0 0 0 2px #1877f2;
}

.submit-btn {
  background-color: #1877f2;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.submit-btn:hover {
  background-color: #166fe5;
}

@media only screen and (max-width: 600px) {
  .signup-form {
    width: 80%;
    padding: 30px;
  }
}
