.header {
  background-image: url("https://q-xx.bstatic.com/xdata/images/xphoto/2880x1116/225704425.jpg?k=875206c51bb8051c8efbbd73a4ae76a9ba03c2b854ce1d428e69c1851ce9f2f9&o=");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  display: flex;
  justify-content: center;
  position: relative;
  object-fit: cover;
  padding: 50px 0;
}

.headerContainer {
  width: 100%;
  max-width: 1024px;
  margin: 20px 0px 100px 0px;
}

.headerContainer.listMode {
  margin: 20px 0px 0px 0px;
}

.headerList {
  display: flex;
  gap: 40px;
  margin-bottom: 50px;
}

.headerListItem {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.headerListItem.active {
  border: 1px solid white;
  padding: 10px;
  border-radius: 20px;
}

.headerDesc {
  margin: 20px 0px;
}

.headerBtn {
  background-color: #0071c2;
  color: white;
  font-weight: 500;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 10%;
}

.headerSearch {
  background-color: white;
  border: 3px solid #febb02;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 0px;
  border-radius: 5px;
  position: absolute;
  bottom: -25px;
  width: 100%;
  max-width: 1024px;
}

.headerIcon {
  color: lightgray;
}

.headerSearchItem {
  display: flex;
  align-items: center;
  gap: 10px;
}

.headerSearchInput {
  border: none;
  outline: none;
}

.headerSearchText {
  color: #000;
  cursor: pointer;
  border: 1px solid grey;
  padding: 10px 10px;
  border-radius: 5%;
}

.date {
  position: absolute;
  z-index: 2;
  margin-top: 20px;
}

.options {
  z-index: 2;
  position: absolute;
  top: 60px;
  right: 150px;
  background-color: white;
  color: gray;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
}

.optionItem {
  width: 200px;
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.optionCounter {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 12px;
  color: black;
}

.optionCounterButton {
  width: 30px;
  height: 30px;
  border: 1px solid #0071c2;
  color: #0071c2;
  cursor: pointer;
  background-color: white;
}

.optionCounterButton:disabled {
  cursor: not-allowed;
}

@media (max-width: 576px) {
  .headerTitle {
    font-size: larger;
    font-weight: bold;
  }
  .headerDesc {
    margin-bottom: 90px;
    font-weight: 300;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .headerSearch {
    max-width: 540px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    margin-bottom: 10px;
  }
  .headerSearchItem {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
  }
  .headerBtn {
    padding: 10px 50px;
  }
  .options {
    margin-top: 100px;
  }
}

@media (max-width: 768px) {
  .headerSearch {
    font-size: 14px;
    font-weight: 600;
  }

  .headerSearchText {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
/* @media (min-width: 992px){
  max-width: 960px;
}


@media (min-width: 1400px){
  max-width: 1140px;
} */
/* @media (min-width: 1200px) {
  max-width: 1320px;
} */
.nav {
  display: flex;
  flex-direction: row;
  background-color: #003580;
}

.container {
  display: flex;
  flex-direction: row;
}
.titlePage {
  font-weight: bold;
  text-align: left;
  margin-top: 20px;
  color: #ffffff;
  text-decoration: none;
  font-size: 36px;
  letter-spacing: 2px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  float: left;
}
.logo {
  font-weight: 500;
}
.navItems {
  display: flex;
  justify-content: flex-end;
}

.navUsername {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
}

.navUsername p {
  display: inline;
  margin: 0;
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
}

.navButton {
  margin-left: 20px;
  border: none;
  padding: 5px 20px;
  cursor: pointer;
  background-color: #ffffff;
  color: #003580;
  border-radius: 10px;
  margin-top: 5px;
}

.navButton:hover {
  background-color: #548ddc;
  color: #fff;
  border: 1px solid #fff;
}

.navbar-collapse {
  flex-grow: 0 !important;
}

.navbar-toggler-icon {
  color: #fff;
}
